
.container-fluid {
  margin-top: 100px;
} 
/* 
.first-row {
  border: 2px solid rgb(243, 8, 8);
} */

.col-first{
  /* border: 2px solid rgb(243, 8, 8); */
  margin-right: 20px;
  
  
}
/* .col-first:hover{
  border: 2px solid rgb(255, 249, 249);

} */




.row-colum{
  height: auto;
 
 
}
.card{
  box-shadow:  0 8px 10px 0 rgba(0,0,0,0.2);
}
.mask:hover { opacity: 0.5; }

.heder{
  height: 160px;
  border-radius: 12px 0px 0px 12px;
  background: #3F0DA9;
  

}
<<<<<<< HEAD
.style{
	float: left;
}
.dropdown{
	float: left;
}

p { 
  color:black;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  
  
 }
.footer-bottom{
        margin-top: 3rem;
      
}
.search{
    margin-left:200px;
}
.main-container{
    text-align:white;
}
.box{
  border: 1px solid red;
  height:3000px;
  width:100%;
  margin-top: 15px;
}


.carousel-inner{
  height: 500px;
  width: 50px;
  margin: auto;
}

.carousel{
  border: 2px solid black; 
  margin-left: 60px;
  margin-right: 60px;
  margin-top:13px;
}

.card:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
.card img {
  object-fit: cover;
  height: 100%; 
  width: 50%; 
}

.listing {
  background-color: pink;
  height: 1000px;
  width: 2000px;
}
.custom-right-align {
  text-align: right;
}

.custom-right-align-text {
  font-weight: 1000;
  margin-right: 50px; 
}


.product-container {
	max-width: 1900px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .link{
	margin-left:1700px;
	height: 40px;
	width: 100px;
	background-color: blue;
	color: beige;
	margin-bottom: 15px;
  
  
  }
  .product-title {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .product-item {
	width: calc(20% - 20px);
	padding: 10px;
	border: 1px solid red;
	height:auto;
  }
  
  .product-image {
	max-width: 100%;
	height:50%;
	border-radius: 5px;
  }
  
  .product-title {
	font-size: 18px;
	margin: 10px 0;
  }
  
  .product-authors {
	font-size: 16px;
	color: #888;
  }
  .search{
	margin-left: 10px;
  }



=======
.text{
  color: var(--Logo---Light, #FBE9A9);
  font-family: Inika;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 120%;  */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  padding-top: 60px;
  margin-left: 500px;
}
.heder > p{
  color: var(--Logo---Light, #FBE9A9);
  font-family: Inika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  letter-spacing: -0.4px;
  margin-left: 505px;
}
>>>>>>> 93e8dccb9f646884a274cd4fd7318919b1345791
