
.container-fluid {
  margin-top: 100px;
} 
/* 
.first-row {
  border: 2px solid rgb(243, 8, 8);
} */

.col-first{
  /* border: 2px solid rgb(243, 8, 8); */
  margin-right: 20px;
  
  
}
/* .col-first:hover{
  border: 2px solid rgb(255, 249, 249);

} */




.row-colum{
  height: auto;
 
 
}
.card{
  box-shadow:  0 8px 10px 0 rgba(0,0,0,0.2);
}
.mask:hover { opacity: 0.5; }

.heder{
  height: 160px;
  border-radius: 12px 0px 0px 12px;
  background: #3F0DA9;
  

}
.text{
  color: var(--Logo---Light, #FBE9A9);
  font-family: Inika;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 120%;  */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  padding-top: 60px;
  margin-left: 500px;
}
.heder > p{
  color: var(--Logo---Light, #FBE9A9);
  font-family: Inika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  letter-spacing: -0.4px;
  margin-left: 505px;
}