<<<<<<< HEAD
*body {
  background-color:red;
  color: black;
}

.cloths {
  background-color: yellow;
  height: 1000px;
  width: 2000px;
}

.jewellery {
  background-color: red;
  height: 1000px;
  width: 2000px;
}

.Electronics {
  background-color: green;
  height: 800px; 
  width: 1500px; 
}

.shoes {
  background-color: green;
  height: 1000px;
  width: 2000px;
}

.header {
  background-color: red;
  border: 2px solid black; 
  margin: 40px;
  
}

.clothsbox,
.Electronicsbox,
.jewellerysbox,
.shoesbox {
  padding: 10px;
  margin-left: 80px;
  display: inline-block;
  
}

.shoesbox {
  height: 90px;
  width: 90px;
  margin-bottom: 12px;
}

.Electronicsbox {
  height: 70px;
  width: 80px;
}
p { 
  color:black;
  font-weight: bold;
  text-align: center;
 
  
 }

.search{
    margin-left:330px;
}

